$themes: (
    maintheme: (
        name: "main",
        main: (
            white: #EBE0CC,
            black: #17181e,
            primary: #27262B,
            secondary: #201F23,
        ),
    ),
);
