$themes: (
    darktheme: (
        name: "dark",
        main: (
            white: #ebe0cc,
            black: #17181e,
            primary: #27262b,
            secondary: #201f23,
            accent: #975add,
            yellow: #c86827,
            red: #a43f3f,
        ),
    ),
    lighttheme: (
        name: "light",
        main: (
            white: #17181e,
            black: #ebe0cc,
            primary: #d2d1d6,
            secondary: #a19fa5,
            accent: #b38fdc,
            yellow: #c86827,
            red: #a43f3f,
        ),
    ),
);
