@use "functions" as *;
$fonts: (
  ff: (
    lexend: "'Lexend', sans-serif",
  ),
  w: (
    thin: 100,
    light: 300,
    regular: 400,
    bold: 800,
  ),
);

$type-scale: (
  small: (
    500: rem(22),
    600: rem(32),
    800: rem(47),
  ),
  
  large: (
    500: rem(30),
    600: rem(37),
    800: rem(58),
  ),
);
