@use "../abstracts/" as *;

.footer {
    background-color: var(--clr-main-secondary);
    height: 4rem;
    width: 100%;

    &__nav {
        height: 100%
    }

    &__list {
        @include flex(space-around, center, row);
        height: 100%;
    }

    &__item {
        cursor: pointer;
        height: 2rem;
    }

    &__icon {
        color: var(--clr-main-white);
        width: 2rem;
        height: 2rem;
        pointer-events: none;
    }
}

@include mq(medium) {
    .footer {
        position: absolute;
        left: 0;
        top: 0;
        width: 4rem;
        height: 100%;

        &__list {
            @include flex(flex-start, center, column);
            gap: 1rem;
            padding-top: 1rem;
        }
    }
}
