@use "../abstracts/" as *;
.main {
    height: calc(100vh - 4rem);
    background-color: var(--clr-main-primary);
    overflow: hidden;
    &__core {
        @include flex(flex-start, flex-start, row);
        height: 100%;
        transition: transform 400ms ease;
    }

    &__section {
        flex-basis: 100%;
        flex-grow: 1;
        text-align: center;
        color: var(--clr-main-white);
        flex-shrink: 0;
        min-height: calc(100vh - 4rem);
        overflow: auto;
    }
}

@include mq(medium) {
    .main {
        height: 100vh;
        width: calc(100vw - 4rem);
        position: absolute;
        right: 0;
    }
}