@use "../abstracts/" as *;
.main {
    width: 100%;
    background-color: var(--clr-main-primary);
    overflow: hidden;
    &__core {
        @include flex(flex-start, flex-start, row);
        transition: transform 400ms ease;
    }
    
    &__section {
        flex-basis: 100%;
        flex-grow: 1;
        text-align: center;
        color: var(--clr-main-white);
        flex-shrink: 0;
        overflow: auto;
    }
}

@include mq(medium) {
    .main {
        width: calc(100% - 4rem);
        height: 100vh;
        position: absolute;
        right: 0;
    }
}