<div class="home">
    <h2 class="home__title">Fonblix</h2>

    <section class="home__news">
        <h2 class="home__news-title" data-i18n="news">Actualités</h2>
        <ul class="home__news-list">
            <li class="news news__welcome" data-news="0">
                <span class="news__title" data-i18n="welcome">Bienvenue</span>
            </li>
        </ul>
    </section>

    <section class="home__projects">
        <h2 class="home__projects-title" data-i18n="projects">Mes projets</h2>
        <div class="home__projects-content">
            <ul class="home__projects-list"></ul>
        </div>
        <button class="home__projects-add addbutton">+</button>
    </section>

    <p class="home__notes">Fonblix v0.1 - 11/01/2023</p>
</div>