<div class="home">
    <h2 class="home__title">Flirbonx</h2>

    <section class="home__news">
        <h2 class="home__news-title" data-i18n="news">Actualités</h2>
        <ul class="home__news-list">
            <li class="news"></li>
        </ul>
    </section>

    <section class="home__projects">
        <h2 class="home__projects-title" data-i18n="projects">Mes projets</h2>
        <ul class="home__projects-list"></ul>
        <button class="home__projects-add addbutton">+</button>
    </section>
</div>