<div class="note">
    <svg class="project__return">
        <use xlink:href="#iconReturn"></use>
    </svg>

    <section class="note__posts">
        <h2 class="note__name">{{name}}</h2>
        <div class="note__list-content">
            <ul class="note__list">
                <div class="postit">
                    <textarea class="postit__textarea"></textarea>
                </div>
            </ul>
        </div>

        <button class="note__addbutton addbutton">+</button>
    </section>

</div>