<div class="profile">
    <span class="profile__name">{{username}}</span>

    <h2 class="profile__title" data-i18n="themes">Thèmes</h2>
    <ul class="profile__themes">
        <li class="profile__theme" data-theme="light">
            🌞
        </li>
        <li class="profile__theme" data-theme="dark">
            🌕
        </li>
    </ul>
    
    <h2 class="profile__title" data-i18n="lang">Langue</h2>
    <ul class="profile__langs">
        <li class="profile__lang" data-lang="fr">
            FR
        </li>
        <li class="profile__lang" data-lang="en">
            EN
        </li>
    </ul>
    
</div>