<div class="project">

    <svg class="project__return">
        <use xlink:href="#iconReturn"></use>
    </svg>

    <h2 class="project__title">{{name}}</h2>
    <h2 class="project__description">{{desc}}</h2>

    <section class="project__tasks">
        <h2 class="project__tasks-title" data-i18n="tasks">Mes tâches</h2>
        <div class="project__tasks-content">
            <ul class="project__tasks-list"></ul>
        </div>
        <button class="project__tasks-add addbutton">+</button>
    </section>
</div>