<div class="projecteditor">
    <svg class="project__return">
        <use xlink:href="#iconReturn"></use>
    </svg>


    <form class="projecteditor__form">
        <input type="text" name="name" class="projecteditor__input" placeholder="Nom du projet" value="{{name}}"
            autocomplete="off" data-i18n="projectName">
        <input type="text" name="desc" class="projecteditor__input" placeholder="Description du projet" value="{{desc}}"
            autocomplete="off" data-i18n="projectDesc">
        <input type="submit" class="projecteditor__submit" value="Valider" data-i18n="confirm">
        <input type="submit" class="projecteditor__delete deletebutton" value="Supprimer" data-i18n="delete">
    </form>
</div>