@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;800&display=swap");
:root {
  --font-ff-lexend: 'Lexend', sans-serif;
  --font-w-thin: 100;
  --font-w-light: 300;
  --font-w-regular: 400;
  --font-w-bold: 800;
  --fs-500: 1.375rem;
  --fs-600: 2rem;
  --fs-800: 2.9375rem;
  scroll-behavior: smooth;
}
@media (min-width: 100em) {
  :root {
    --fs-500: 1.875rem;
    --fs-600: 2.3125rem;
    --fs-800: 3.625rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

[hidden] {
  display: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  position: relative;
  overflow: none;
}

input[type=text],
input[type=number],
input[type=date] {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.25rem;
  color: var(--clr-main-white);
  border-bottom: solid var(--clr-main-white) 2px;
}

input[type=checkbox] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-main-primary);
  border: solid var(--clr-main-white) 2px;
  border-radius: 3rem;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: var(--clr-main-white);
}

input[type=submit],
button {
  color: var(--clr-main-white);
  background-color: var(--clr-main-secondary);
  border-radius: 0.5rem;
  border: 0;
  padding: 0.25rem 1.5rem;
  cursor: pointer;
  width: 100%;
  transition: transform 300ms;
}
input[type=submit]:hover,
button:hover {
  transform: scale(0.95);
}
input[type=submit]:active,
button:active {
  transform: scale(0.9);
}
input[type=submit]:focus-visible,
button:focus-visible {
  border: solid var(--clr-main-white) 2px;
}

img {
  user-select: none;
}

strong {
  font-weight: var(--font-weight-regular);
}

use {
  pointer-events: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-main-black);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-main-white);
}

progress {
  color: var(--clr-main-white);
  background: var(--clr-main-black);
  border-radius: 2.5rem;
  padding: 0.3rem;
}

progress::-webkit-progress-bar {
  border-radius: 2.5rem;
  background: var(--clr-main-black);
  color: var(--clr-main-white);
}

progress::-webkit-progress-value {
  border-radius: 2.5rem;
  background: var(--clr-main-accent);
  color: var(--clr-main-white);
  transition: width 300ms;
}

body {
  font-family: var(--font-ff-lexend);
  background-color: var(--clr-main-primary);
}

.theme__dark {
  --clr-name-dark: ;
  --clr-main-white: #EBE0CC;
  --clr-main-black: #17181e;
  --clr-main-primary: #27262B;
  --clr-main-secondary: #201F23;
  --clr-main-accent: #975add;
  --clr-main-red: #8d5c5c;
}
.theme__light {
  --clr-name-light: ;
  --clr-main-white: #17181e;
  --clr-main-black: #EBE0CC;
  --clr-main-primary: #d2d1d6;
  --clr-main-secondary: #a19fa5;
  --clr-main-accent: #b38fdc;
  --clr-main-red: #8d5c5c;
}

.transition {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 4rem);
  width: 100%;
  z-index: 100;
  transition: transform 200ms, opacity 300ms;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--clr-main-black);
  pointer-events: none;
}
.transition__open {
  opacity: 1;
  transform-origin: left;
  transform: scaleX(1);
}

.addbutton {
  background-color: var(--clr-main-secondary);
  color: var(--clr-main-white);
  width: 100%;
  max-width: 35rem;
  margin-top: 1rem;
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  height: 3rem;
  font-weight: var(--font-w-bold);
  font-size: 2rem;
  cursor: pointer;
}

.deletebutton {
  background-color: var(--clr-main-red) !important;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

#templates {
  display: none;
}

@media (min-width: 60em) {
  .transition {
    right: 0;
    left: auto;
    height: 100vh;
    width: calc(100vw - 4rem);
    transform: scaleY(0);
    transform-origin: top;
  }
  .transition__open {
    transform-origin: bottom;
    transform: scaleY(1);
  }
}
.news {
  width: 100%;
  height: 6rem;
  border-radius: 0.5rem;
  background-color: var(--clr-main-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.news > * {
  pointer-events: none;
}
.news__welcome {
  background-color: var(--clr-main-accent);
  color: var(--clr-main-primary);
  font-weight: var(--font-w-bold);
  font-size: 3rem;
}

.category {
  width: 100%;
  height: 4.5rem;
  background-color: var(--clr-main-secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}
.category__name {
  display: block;
  font-weight: var(--font-w-bold);
}
.category > * {
  pointer-events: none;
}

.task {
  width: 100%;
  background-color: var(--clr-main-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}
.task__name {
  font-weight: var(--font-w-bold);
}
.task__name, .task__type {
  display: inline;
}
.task__type {
  width: 20px;
  height: 20px;
}
.task__infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.task__description {
  display: block;
}
.task > * {
  pointer-events: none;
}

@media (min-width: 60em) {
  .task__infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
  }
}
.objective {
  background-color: var(--clr-main-secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  max-width: 19rem;
  width: 90%;
  position: relative;
  isolation: isolate;
  user-select: none;
}
.objective:hover > .objective__close {
  opacity: 1;
}
.objective__icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.objective__name {
  width: 13rem;
  border-bottom: 0 !important;
}
.objective__close {
  position: absolute;
  right: -2.5rem;
  opacity: 0;
  transition: opacity 300ms;
  width: 2rem;
  height: 2rem;
  z-index: -1;
  cursor: pointer;
}
.objective__close:hover {
  opacity: 1;
}
.objective__close-icon {
  width: 2rem;
  height: 2rem;
  pointer-events: none;
}

.postit {
  width: 18rem;
  height: 18rem;
  box-shadow: 0 0 5px #222;
  position: relative;
  isolation: isolate;
  z-index: 1;
}
.postit__textarea {
  padding: 0.5rem;
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  height: calc(90% - 1rem);
  resize: none;
}
.postit__textarea:focus ~ .postit__actions {
  opacity: 1;
}
.postit__actions {
  height: calc(5% + 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 300ms;
}
.postit__actions:hover {
  opacity: 1;
}
.postit__action {
  padding: 0.25rem;
  width: 35%;
  color: #222;
  background-color: transparent;
  border: solid #222;
}
.postit__colors {
  width: 100%;
  height: 3.5rem;
  background-color: #222;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  overflow: hidden;
  transition: transform 300ms;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.postit__colors-selected {
  transform: scaleX(1);
}
.postit__color {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.postit__yellow {
  background-color: #ffdf69;
}
.postit__green {
  background-color: #92e06d;
}
.postit__blue {
  background-color: #66aedd;
}

.footer {
  background-color: var(--clr-main-secondary);
  height: 4rem;
  width: 100%;
}
.footer__nav {
  height: 100%;
}
.footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.footer__item {
  cursor: pointer;
  height: 2rem;
  position: relative;
}
.footer__item::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -4px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms;
  background-color: var(--clr-main-white);
}
.footer__selected::before {
  transform: scaleX(1);
  transform-origin: left;
}
.footer__icon {
  color: var(--clr-main-white);
  width: 2rem;
  height: 2rem;
  pointer-events: none;
}

@media (min-width: 60em) {
  .footer {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
  }
  .footer__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
  }
}
.main {
  height: calc(100vh - 4rem);
  background-color: var(--clr-main-primary);
  overflow: hidden;
}
.main__core {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  transition: transform 400ms ease;
}
.main__section {
  flex-basis: 100%;
  flex-grow: 1;
  text-align: center;
  color: var(--clr-main-white);
  flex-shrink: 0;
  min-height: calc(100vh - 4rem);
  overflow: auto;
}

@media (min-width: 60em) {
  .main {
    height: 100vh;
    width: calc(100vw - 4rem);
    position: absolute;
    right: 0;
  }
}
.home {
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.home__title {
  font-size: 4rem;
  margin-bottom: -3rem;
  color: var(--clr-main-accent);
  font-weight: var(--font-w-bold);
}
.home section {
  width: 85%;
}
.home__news {
  height: 8rem;
}
.home__news-list {
  margin-top: 1rem;
}
.home__projects-list {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.home__notes {
  position: absolute;
  bottom: 1rem;
  opacity: 0.6;
}

@media (min-width: 60em) {
  .home section {
    text-align: left;
    max-width: 35rem;
  }
}
.project {
  padding-top: 4rem;
}
.project__title {
  font-size: 2rem;
}
.project__description {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.project__tasks {
  width: 85%;
  margin: auto;
}
.project__tasks-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  margin: auto;
}
.project__return {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 300ms;
}
.project__return:hover {
  transform: translateX(-6px);
}

@media (min-width: 60em) {
  .project__tasks {
    text-align: left;
    max-width: 35rem;
  }
  .project__return {
    left: 1rem;
    top: 1rem;
  }
}
.projecteditor,
.taskeditor {
  height: calc(100vh - 4rem);
  display: grid;
  place-content: center;
  padding-top: 4rem;
}
.projecteditor__form,
.taskeditor__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.projecteditor__types,
.taskeditor__types {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}
.projecteditor__type,
.taskeditor__type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.projecteditor__item,
.taskeditor__item {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: var(--clr-main-secondary);
  border-radius: 0.25rem;
  transition: transform 300ms;
}
.projecteditor__icon,
.taskeditor__icon {
  width: 3rem;
  height: 3rem;
  transform: scale(0.75);
  pointer-events: none;
}
.projecteditor__description,
.taskeditor__description {
  height: 1.5rem;
}
.projecteditor__selected,
.taskeditor__selected {
  transform: scale(0.75);
}

.profile {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile__name {
  font-size: 3rem;
  font-weight: var(--font-w-bold);
  text-decoration: underline;
}
.profile__langs, .profile__themes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.profile__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.profile__picture {
  width: 12rem;
  height: 12rem;
  background-color: var(--clr-main-secondary);
  border-radius: 1rem;
}
.profile__lang, .profile__theme {
  background-color: var(--clr-main-secondary);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: filter 300ms;
  cursor: pointer;
}
.profile__lang:hover, .profile__theme:hover {
  filter: brightness(0.7);
}
.profile__credits {
  width: 60%;
}
.profile__link {
  color: var(--clr-main-white);
}
.profile__link:visited {
  color: inherit;
}
.profile__preferences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 60em) {
  .profile__preferences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.quest {
  padding-top: 4rem;
}
.quest__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.quest__addbutton, .quest__completebutton {
  width: 80%;
  max-width: 20rem;
}
.quest__completebutton {
  display: none;
  margin: 1rem auto;
  padding: 0.5rem 0;
}
.quest__progress {
  position: relative;
}
.quest__progress-bar {
  display: block;
  margin: 1rem auto;
  height: 1.5rem;
  width: 90%;
  max-width: 20rem;
  background-color: var(--clr-main-black);
}
.quest__progress-label {
  position: absolute;
  inset: 0;
  margin: auto;
}

.note {
  padding-top: 4rem;
}
.note section {
  width: 85%;
  margin: auto;
  max-width: 35rem;
}
.note__list {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.note__list-content {
  max-height: 70vh;
  overflow: auto;
}

@media (min-width: 60em) {
  .note section {
    max-width: 80rem;
  }
  .note__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */