@use "../abstracts/" as *;

.task {
    width: 100%;
    background-color: var(--clr-main-secondary);
    border-radius: 0.5rem;
    height: 4.5rem;
    padding: 1rem;
    cursor: pointer;
    position: relative;

    &:hover {
        & > .task__actions {
            width: 9rem;
            pointer-events: all;
        }
    }

    &__name {
        font-weight: var(--font-w-bold);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
    }

    &__name,
    &__type {
        display: inline;
    }

    &__type {
        width: 20px;
        height: 20px;
    }

    &__infos {
        @include flex(center, center, row);
        pointer-events: none;
        gap: 0.5rem;
    }
    
    &__description {
        pointer-events: none;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
    }

    &__actions {
        overflow: hidden;
        top: 0;
        width: 0;
        transition: width 300ms;
        @include flex(flex-start, center, row);
        position: absolute;
        right: 0;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    &__edit,
    &__delete {
        width: 4.5rem;
        height: 4.5rem;
        &-icon {
            width: 4.5rem;
            height: 4.5rem;
            pointer-events: none;
            transform: scale(0.6);
        }
    }

    &__delete {
        background-color: var(--clr-main-red);
    }
}

@include mq(medium) {
    .task {
        &__infos {
            @include flex(flex-start, center, row);
            gap: 0.5rem;
        }
    }
}
