@use "../abstracts/" as *;

.task {
    width: 100%;
    background-color: var(--clr-main-secondary);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;

    &__name,
    &__type {
        display: inline;
    }

    &__type {
        width: 20px;
        height: 20px;
    }

    &__infos {
        @include flex(center, center, row);
        gap: 0.5rem;
    }

    &__description {
        display: block;
    }

    & > * {
        pointer-events: none;
    }
}

@include mq(medium) {
    .task {
        &__infos {
            @include flex(flex-start, center, row);
            gap: 0.5rem;
        }
    }
}
