@use "../abstracts/" as *;

.theme {
    @each $themes, $theme in $themes {
        &__#{nth(map-values($theme), 1)} {
            @each $theme, $shade in $theme {
                @each $prop, $value in $shade {
                    --clr-#{$theme}-#{$prop}: #{$value};
                }
            }
        }
    }
}

.transition {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100vh - 4rem);
    width: 100%;
    z-index: 100;
    transition: transform 300ms, opacity 300ms;
    transform: scaleX(0);
    transform-origin: right;
    background-color: var(--clr-main-black);
    pointer-events: none;

    &__open {
        opacity: 1;
        transform-origin: left;
        transform: scaleX(1);
    }
}

.addbutton {
    background-color: var(--clr-main-secondary);
    color: var(--clr-main-white);
    width: 100%;
    max-width: 35rem;
    margin-top: 1rem;
    padding: 0;
    border: 0;
    border-radius: 0.5rem;
    height: 3rem;
    font-weight: var(--font-w-bold);
    font-size: 2rem;
    cursor: pointer;
}

.deletebutton {
    background-color: var(--clr-main-red) !important;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

#templates {
    display: none;
}

@include mq(medium) {
    .transition {
        right: 0;
        left: auto;
        height: 100vh;
        width: calc(100vw - 4rem);
        transform: scaleY(0);
        transform-origin: top;


        &__open {
            transform-origin: bottom;
            transform: scaleY(1);
        }
    }
}
