/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

[hidden] {
  display: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Material Design pour Flirbonx
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;  
}

input[type="text"],
input[type="number"],
input[type="date"] {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.25rem;
  color: var(--clr-main-white);
  border-bottom: solid var(--clr-main-white) 2px;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-main-primary);
  border: solid var(--clr-main-white) 2px;
  border-radius: 3rem;
  cursor: pointer;

  &:checked {
    background-color: var(--clr-main-white);
  }
}

input[type="submit"],
button {
  color: var(--clr-main-white);
  background-color: var(--clr-main-secondary);
  border-radius: 0.5rem;
  border: 0;
  padding: 0.25rem 1.5rem;
  cursor: pointer;
  width: 100%;
  transition: transform 300ms;

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }

  &:focus-visible {
    border: solid var(--clr-main-white) 2px;
  }
}

img {
  user-select: none;
}

strong {
  font-weight: var(--font-weight-regular);
}

use {
  pointer-events: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

strong {
  color: var(--clr-main-accent);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-main-secondary);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-main-white);
  border-radius: 12px;
}

progress {
  color: var(--clr-main-white);
  background: var(--clr-main-black);
  border-radius: 2.5rem;
  padding: .3rem;
}
progress::-webkit-progress-bar {
  border-radius: 2.5rem;
  background: var(--clr-main-black);
  color: var(--clr-main-white);
}
progress::-webkit-progress-value {
  border-radius: 2.5rem;
  background: var(--clr-main-accent);
   color: var(--clr-main-white);
  transition: width 300ms;
}