@use "../abstracts/" as *;

.profile {
    padding-top: 2rem;
    @include flex(center, center, column);
    &__name {
        font-size: 3rem;
        font-weight: var(--font-w-bold);
        text-decoration: underline;
    }

    &__langs,
    &__themes {
        @include flex(center, center, row);
        gap: 0.5rem;
        margin-bottom: 3rem;
    }

    &__header {
        @include flex(flex-start, center, column);
        margin-bottom: 2rem;
    }

    &__picture {
        width: 12rem;
        height: 12rem;
        background-color: var(--clr-main-secondary);
        border-radius: 1rem;
    }

    &__lang,
    &__theme {
        background-color: var(--clr-main-secondary);
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
        transition: filter 300ms;
        cursor: pointer;
        &:hover {
            filter: brightness(0.7);
        }
    }

    &__credits {
        width: 60%;
    }

    &__link {
        color: var(--clr-main-white);
        &:visited {
            color: inherit;
        }
    }

    &__preferences {
        @include flex(center, center, column);
    }
}

@include mq(medium) {
    .profile {
        &__preferences {
            @include flex(center, center, row);
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}
