@use "../abstracts/" as *;

.project {
    padding-top: 4rem;
    &__title {
        font-size: 2rem;
    }
    &__description {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    &__tasks {
        width: 85%;
        margin: auto;
        &-list {
            @include flex(center, center, column);
            gap: 1rem;
            padding-top: 1rem;
            margin: auto;
        }
    }
    &__return {
        position: absolute;
        left: 0.25rem;
        top: 0.25rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: transform 300ms;

        &:hover {
            transform: translateX(-6px);
        }
    }
}

@include mq(medium) {
    .project {
        &__tasks {
            text-align: left;
            max-width: 35rem;
        }

        &__return {
            left: 1rem;
            top: 1rem;
        }
    }
}
